---
layout: "bus-bay-assignments.liquid"
title: "LAX/MTC Station"
css: bus-bay-assignments.css
---

{% assign bay_order_arr = bus-bay-assignments.bay_order %}
{% assign bay_details = bus-bay-assignments.bay_assignments %}
{% for bay in bay_order_arr %}
    {% assign bay_routes = bay_details[bay].routes %}
    {% for bay_route in bay_routes %}
        <div class="assignment-row">
            <div class="service-agency-info">
                <!-- If bay_route.route doesn't exist --> 
                {% if bay_route.route == "" %}
                    <div class="agency-logo-full"><img src="/images/{{ bay_route.agency }}"></div>
                {% else %}
                    <div class="route-number" style="background-color: {{bay_route.bgColor}};">{{ bay_route.route }}</div>
                    {% if bay_route.agency contains ".png" %}
                        <div class="agency-logo"><img src="/images/{{ bay_route.agency }}"></div>
                    {% else %}
                        <div class="agency-logo">{{ bay_route.agency }}</div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="service-bay-info">
                <div class="service-description">{{ bay_route.description }}</div>
                <div class="bay-number">{{ bay }}</div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
